{% extends "frontend/base.html" %}

{% block content %}
    <h1>Verify your Fedletic account</h1>
    <div class="landing">
        <section class="login-register-card">
            <div class="p-6 bg-gray-50 border-b border-gray-200">
                <div class="flex justify-center">
                    <div class="text-3xl font-bold text-blue-600 flex items-center">
                        Fedletic
                    </div>
                </div>
                <p class="text-center text-gray-600 mt-2">Decentralized workout tracking, owned by you.</p>
            </div>
            <div class="p-6 space-y-6">
                <p class="text-gray-600 mb-2">An email with a code has been sent to <span
                        class="text-blue-600">{{ request.user.email }}</span> to verify your account.</p>
                <form method="post" enctype="multipart/form-data" class="text-sm">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <button class="mt-3 button button__primary button__w-full" type="submit" name="action"
                            value="login">
                        Verify
                    </button>
                </form>
            </div>
            <div class="text-xs text-center text-gray-500 p-2">
                Powered by <a href="https://github.com/fedletic/fedletic" class="text-underline">Fedletic
                v{{ version }}</a>
            </div>
        </section>
    </div>
{% endblock %}