{% extends "frontend/base.html" %}

{% block content %}
    <h1>@{{ actor.webfinger }}</h1>
    <section>
        <div>
            <label>Followers:</label> {{ actor.followers.count }}
            <label>Following:</label> {{ actor.following.count }}
        </div>
        <p>
            {% if actor.summary %}
                {{ actor.summary }}
            {% else %}
                This beautiful person has not yet told us about themselves.
            {% endif %}
        </p>
    </section>
    <section>
        <ul>
            {% for anchor in actor.workout_anchors.all %}
                <li>
                    <a href="{{ anchor.ap_uri }}">
                        {{ anchor.workout.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}